.ftp-system-container {
  margin-top: .5rem;

  .tree {

    .tree-description {
      display: flex;
      align-items: center;
      gap: 3px;

      .action-button {

        .action-unfold {
          box-shadow: 0 0 10px rgba(0, 0, 0, .3);
          border-radius: 50%;
        }
      }

      .item-name {
        font-size: 14px;
        line-height: 1;
      }
    }
  }
}