html > * {
  outline: 2px solid green;
}

.screen-window {
  position: relative;

  .screen-wrapper {
    height: calc(100vh - 64px);

    .side-panel {
      height: 100%;
      width: 15%;
      overflow: hidden;
      background-color: red;
      border-right: 2px solid #333;
    }
  }

  .main-content-window {
    width: 85%;
    height: 100%;

    .planning-wrapper {
      height: 30%;
      background-color: green;
      border-bottom: 3px solid #333;

      .sheet-wrapper {
        border-right: 2px solid #333;
        width: 65%;
      }

      .maintenance-wrapper {
        width: 35%;
      }
    }

    .map-wrapper {
      height: 70%;

      .column {
        padding: 0;
        height: 100%;
      }
    }
  }
}