{% extends 'base.html' %}
{% import 'macros/transport_form.html' as wtf %}

{% block content %}
    {% set transport_type = type_of_transport %}
    {% include 'transport-nav.html' %}
	<div class="container-xl">
        <div class="row working-area mt-3 p-3">
            <div class="col-6 block-add">
                <div class="form-title text-center">
                    <h2>{{ title }}</h2>
                </div>
                {{ wtf.quick_form(form) }}
            </div>
            <div class="col-6">
                Блок с повреждениями, фотография фуры сверху и можно выбирать повреждения сразу
            </div>
        </div>
    </div>
{% endblock %}